header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;

    border-bottom:      2px solid #fcba19;
    background-color: #036;
    font-family:        Helvetica,Arial,sans-serif;
    color:            white;

    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        center;
}

header .translink-logo {
    background-image: url( "https://tlweblibs.translink.ca/TransLink-logo-white.svg" );
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 80px;
    margin-right: 10px;
}

header h1 {
    display:        flex;
    justify-content:center;
    align-items:    center;
    font-size:      18px;
    margin: 0;
    padding: 0;
}

header h2 {
    font-weight:    bold;
    font-size:      14px;
    font-style: italic;
    margin: 0;
    padding: 0;
}

header h2 .version {
    font-size:      12px;
    opacity:        50%;
}

header h2 .date {
    font-size:      12px;
    opacity:        50%;
}

#smk-map-frame {
    position: absolute;
    top: 72px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}
