<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

        <title>TRP - Translink</title>
        <script src="./node_modules/@bcgov/smk/dist/smk.js"></script>
        <link rel="stylesheet" type="text/css" href="lib/dialog-polyfill/dialog-polyfill.css"/>
        <link rel="stylesheet" type="text/css" href="smk-trp.css"/>
        <style>
            body.hide article {
                visibility: hidden;
            }
        </style>

        <link rel="stylesheet" type="text/css" href="style.css"/>
        <script>
            // <!-- Snowplow starts plowing - Standalone vE.2.14.0 -->
            ;(function(p,l,o,w,i,n,g){if(!p[i]){p.GlobalSnowplowNamespace=p.GlobalSnowplowNamespace||[];
            p.GlobalSnowplowNamespace.push(i);p[i]=function(){(p[i].q=p[i].q||[]).push(arguments)
            };p[i].q=p[i].q||[];n=l.createElement(o);g=l.getElementsByTagName(o)[0];n.async=1;
            n.src=w;g.parentNode.insertBefore(n,g)}}(window,document,"script","https://www2.gov.bc.ca/StaticWebResources/static/sp/sp-2-14-0.js","snowplow"));
            var collector = 'spt.apps.gov.bc.ca';
            window.snowplow('newTracker','rt',collector, {
                appId: "Snowplow_standalone_SMK",
                cookieLifetime: 86400 * 548,
                platform: 'web',
                post: true,
                forceSecureTracker: true,
                contexts: {
                    webPage: true,
                    performanceTiming: true
                }
            });
            window.snowplow('enableActivityTracking', 30, 30); // Ping every 30 seconds after 30 seconds
            window.snowplow('enableLinkClickTracking');
            window.snowplow('trackPageView');
            // <!-- Snowplow stops plowing -->
        </script>
    </head>

    <body class="hide">
        <dialog id="disclaimer" class="no-zoom">
            <form>
                <header>
                    <span class="translink-logo"></span>Truck Route Planner
                </header>
                <section>
                    <p>
                        This website requires a more recent web browser.
                    </p>
                    <p>
                        Please use Google Chrome, or Microsoft Edge, or Firefox, or Safari.
                    </p>
                </section>
                <menu></menu>
            </form>
        </dialog>

        <article>
            <header id="logo" class="no-zoom">
                <span class="translink-logo"></span>Truck Route Planner
            </header>

            <div id="smk-map-frame"></div>
        </article>

        <iframe id="print-holder" style="position: absolute; left: 0; top: 0; visibility: hidden;"></iframe>

        <style>
            template {
                display: none;
            }
            .truck-options {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                flex-grow: 1;
            }

            .truck-options .truck-image {
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                height: 50px;
                margin-top: 10px;
                flex-basis: 100%;
            }

            .truck-options .smk-enter-input.truck-type {
                flex-grow: 1;
            }

            .truck-options .smk-enter-input.truck-axles {
                flex-basis: unset;
            }

            .truck-options .smk-enter-input .smk-input select {
                flex-grow: 1;
                border-radius: 6px;
            }

        </style>

        <template id="truck-selection">
            <div class="truck-options">
                <div class="truck-image" v-bind:style="vehicleStyle"></div>
                <div class="smk-enter-input truck-type">
                    <label id="truck-type">Vehicle Type
                        <div class="smk-input">
                            <select
                                v-on:change="selectVehicle( $event.target.value )"
                            >
                                <option
                                    v-for="vehicle, i in vehicleTypes"
                                    v-bind:value="i"
                                    v-bind:selected="vehicleIndex == i"
                                >{{ vehicle.title }}</option>
                            </select>
                        </div>
                    </label>
                </div>
                <div class="smk-enter-input truck-axles">
                    <label id="truck-axles">Axles
                        <div class="smk-input">
                            <select
                                v-if="vehicleIndex != null"
                                v-on:change="selectConfig( $event.target.value )"
                            >
                                <option
                                    v-for="config, i in vehicleTypes[ vehicleIndex ].configs"
                                    v-bind:value="i"
                                    v-bind:selected="configIndex == i"
                                >{{ config.axles }}</option>
                            </select>
                        </div>
                    </label>
                </div>
            </div>
        </template>

        <script src="trp-vehicle-definitions.js"></script>
        <script src="config/site/config.js"></script>
        <script src="smk-overrides.js"></script>

        <script>
        ( function () {
            if ( SMK.FAILURE ) {
                var dialog = document.getElementById( 'disclaimer' )
                
                dialog.showModal()
                return
            }

            var dialog = document.getElementById( 'disclaimer' )
            include( [ { url: './fragments/disclaimer.html' }, { url: './fragments/disclaimer.css' } ], 'disclaimer' ).then( function ( inc ) {
                dialog.innerHTML = inc[ 'disclaimer.disclaimer-html' ]
               
                dialog.showModal()
            } )

            var package
            include( [ { url: './package.json', loader: 'template' } ], 'package' ).then( function ( inc ) {
                package = JSON.parse( inc[ 'package.package-json' ] )

                // document.getElementById( 'package-build-date' ).title = 'Built: ' + package[ 'build-date' ]
                // document.getElementById( 'package-release' ).innerText = package.release
                // document.getElementById( 'package-version' ).innerText = 'Version ' + package.version
            } )

            document.getElementById( 'logo' ).addEventListener( 'click', function () {
                SMK.MAP[ 2 ].$tool[ 'bespoke--about' ].active = true
            } )

            SMK.HANDLER.set( 'bespoke--reports', 'initialized', function ( smk, tool ) {
                tool.status = 'hide'
            } )

            function formatYesNo( attrName ) {
                return '<%= this.feature.properties[ "' + attrName + '" ] ? "Yes" : "" %>'
            }

            var defaultVehicle = TRP.vehicleTypes[ 0 ].configs[ 0 ]

            var layerConfigs = [
                './layers/cardlock/config.json',
                './layers/dangerous-goods-restrictions/config.json',
                './layers/downtown-vancouver/config.json',
                './layers/industrial-area/config.json',
                './layers/inspection-station/config.json',
                './layers/major-road-network/config.json',
                './layers/metro-vancouver-boundary/config.json',
                './layers/overhead-directional-signs/config.json',
                './layers/overhead-structure-with-height-marker/config.json',
                './layers/overhead-structure-without-height-marker/config.json',
                './layers/oversize-overweight-truck-routes-oah-up-to-4-88-m/config.json',
                './layers/oversize-overweight-truck-routes-oaw-up-to-5-m/config.json',
                './layers/oversize-overweight-truck-routes-gvw-up-to-80000-kg/config.json',
                './layers/oversize-overweight-truck-routes-gvw-up-to-85000-kg/config.json',
                './layers/oversize-overweight-truck-routes-gvw-up-to-125000-kg/config.json',
                './layers/port-of-vancouver-facilities-terminals/config.json',
                './layers/provincial-highway/config.json',
                './layers/truck-advisories-restrictions/config.json',
                './layers/truck-advisories-warning/config.json',
                './layers/truck-parking/config.json',
                './layers/truck-routes-designated-municipal-truck-route-with-restrictions/config.json',
                './layers/truck-routes-designated-municipal-truck-route/config.json',
                './layers/truck-routes-federal-road-with-no-truck-travel-restrictions/config.json',
                './layers/truck-routes-municipal-road-with-no-truck-travel-restriction/config.json',
                './layers/temporary-road-closure/config.json',
                './layers/temporary-road-closure-extent/config.json'
            ]

            var temp = document.createElement( 'div' )
            document.body.appendChild( temp )

            function dashedLine( outerWidth, outerColour, innerWidth, innerColour, innerDashes ) {
                return [
                    {
                        "strokeWidth": outerWidth,
                        "strokeColor": outerColour,
                        "strokeOpacity": 1,
                        "strokeCap": "butt"
                    },
                    {
                        "strokeWidth": innerWidth,
                        "strokeColor": innerColour,
                        "strokeOpacity": 1,
                        "strokeCap": "butt",
                        "strokeDashes": innerDashes
                    }
                ]                
            }

            function dashedLine1( width, outerColour, innerColour ) {
                var innerWidth = width * 2 / 5
                var dash1 = width * 3 / 5
                var dash2 = width 
                return dashedLine( width, outerColour, width * 2 / 5, innerColour, dash1 + ',' + dash2 )
            }

            function solidLine( width, colour ) {
                return {
                    "strokeWidth": width,
                    "strokeColor": colour,
                    "strokeOpacity": 1,
                    "strokeCap": "butt"
                }
            }

            var thick1Low = 10,  thick1High = 12,
                thick2Low = 8,  thick2High = 10,
                thick3Low = 6,  thick3High = 8,
                thick4Low = 4,  thick4High = 6,
                thick5Low = 2,  thick5High = 4

            var style = {
                'major-road-network-high-zoom': solidLine( thick2High, "#1067e6" ),
                'major-road-network': solidLine( thick2Low, "#1067e6" ),

                'oversize-overweight-truck-routes-gvw-up-to-125000-kg': solidLine( thick5Low, "#9b54ba" ),
                'oversize-overweight-truck-routes-gvw-up-to-80000-kg': solidLine( thick5Low, "#ceace6" ),
                'oversize-overweight-truck-routes-gvw-up-to-85000-kg': solidLine( thick5Low, "#9f74be" ),
                'oversize-overweight-truck-routes-oah-up-to-4-88-m': solidLine( thick3Low, "#ff01c8" ),
                'oversize-overweight-truck-routes-oaw-up-to-5-m': solidLine( thick4Low, "#17fae4" ),

                'truck-routes-provincial-highway-high-zoom': dashedLine1( thick1High, '#000000', '#ffff00' ),
                'truck-routes-provincial-highway': dashedLine1( thick1Low, '#000000', '#ffff00' ),

                'truck-routes-designated-municipal-truck-route-high-zoom': dashedLine1( thick1High, "#47464f", "#ffffff" ),
                'truck-routes-designated-municipal-truck-route': dashedLine1( thick1Low, "#47464f", "#ffffff" ),

                'truck-routes-designated-municipal-truck-route-with-restrictions-high-zoom': dashedLine1( thick1High, "#47464f", "#ff0000" ),
                'truck-routes-designated-municipal-truck-route-with-restrictions': dashedLine1( thick1Low, "#47464f", "#ff0000" ),

                'truck-routes-federal-road-with-no-truck-travel-restrictions-high-zoom': dashedLine1( thick1High, "#47464f", '#ffff00' ),
                'truck-routes-federal-road-with-no-truck-travel-restrictions': dashedLine1( thick1Low, "#47464f", '#ffff00' ),

                'truck-routes-municipal-road-with-no-truck-travel-restriction-high-zoom': dashedLine1( thick1High, "#47464f", '#ffff00' ),
                'truck-routes-municipal-road-with-no-truck-travel-restriction': dashedLine1( thick1Low, "#47464f", '#ffff00' ),
            }

            // initialize SMK so all modules are loaded
            SMK.INIT( {
                'smk-id': 999,
                'smk-container-sel': temp,
                // baseUrl: self.smkBaseUrl,
                'smk-config': [ '?']
            } )
            .then( function ( smk ) {
                temp.parentElement.removeChild( temp )

                // SMK has to be completely loaded before it can be patched 
                installSmkOverrides()

                // load and resolve templates in layer configs
                return layerConfigs.reduce( function( acc, cfgUrl ) {
                    var id = cfgUrl.toLowerCase().replace( /[^a-z0-9]+/g, '-' ).replace( /^[-]|[-]$/g, '' )
                    var tag = 'config-' + id

                    return acc.then( function ( cfgs ) {
                        return include( [ { url: cfgUrl, loader: 'template' } ], tag ).then( function ( inc ) {
                            var json = inc[ tag + '.config-json' ]
                            var replaced = templateReplace( json, function( template ) {
                                var res = JSON.stringify( eval( template ) )
                                // console.log(tag,template,res)
                                return res
                            } )
                            var c = JSON.parse( replaced )
                            cfgs.push( c )
                            return cfgs
                        } )
                    } )
                }, Promise.resolve( [] ) )
            } )
            .then( function ( cfgs ) {
                return SMK.INIT( {
                    'smk-container-sel': "#smk-map-frame",
                    'smk-config': [].concat( cfgs, [
                        './config/map.json',
                        './config/layer-display.json',
                        {
                            tools: [ {
                                type: 'directions',
                                truckHeight: defaultVehicle.height,
                                truckWidth: defaultVehicle.width,
                                truckLength: defaultVehicle.length,
                                truckWeight: defaultVehicle.weight,
                            } ]
                        },
                        './config/key/route-planner.json',
                        './config/key/esri-api-key.json',
                        '?'
                    ] )
                } )
            } )
            .then( function () {
                var fetchPromise = {}
                function fetchLayer( layerName ) {
                    var pr = fetchPromise[ layerName ]
                    if ( pr ) return pr

                    var url = TLINK_CONFIG.regionalRoadsApiUrl + '?service=WFS&version=1.0.0&request=GetFeature&outputFormat=application/json&typeName=' + layerName

                    return fetchPromise[ layerName ] = SMK.UTIL.makePromise( function ( res, rej ) {
                        $.get( url, null, null, 'json' ).then( res, function ( xhr, status, err ) {
                            rej( 'Failed requesting ' + url + ': ' + xhr.status + ',' + err )
                        } )
                    } )
                }

                var preparePromise = {}
                function prepareLayer( layerId, filter ) {
                    var vw = SMK.MAP[ 2 ].$viewer
                    var ly = vw.layerId[ layerId ]

                    Object.defineProperty( ly, 'loadCache', {
                        get: function () {
                            var pr = preparePromise[ layerId ]

                            if ( pr ) return pr

                            ly.loadLayer = ( function ( inner ) {
                                return function ( data ) {
                                    return Promise.resolve( data ).then( inner )
                                }
                            } )( ly.loadLayer )

                            return preparePromise[ layerId ] = fetchLayer( ly.config.layerName )
                                .then( function ( fc ) {
                                    if ( !filter ) return fc

                                    return $.extend( {}, fc, {
                                        features: fc.features.filter( filter )
                                    } )
                                } )
                                // .then( function ( o ) {
                                //     console.log( layerId, o.features.length )
                                //     return o
                                // } )
                        },
                        set: function () {}
                    } )

                    vw.layerIdPromise[ layerId ] = null
                    var vis = vw.isDisplayContextItemVisible( layerId )
                    if ( vis ) {
                        vw.displayContext.layers.setItemVisible( layerId, false )
                        vw.updateLayersVisible().then( function () {
                            vw.displayContext.layers.setItemVisible( layerId, true )
                            vw.updateLayersVisible()
                        } )
                    }
                }

                prepareLayer( 'cardlock' )
                prepareLayer( 'dangerous-goods-restrictions' )
                prepareLayer( 'downtown-vancouver' )
                prepareLayer( 'industrial-area' )
                prepareLayer( 'inspection-station' )
                prepareLayer( 'major-road-network' )
                prepareLayer( 'major-road-network-high-zoom' )
                prepareLayer( 'metro-vancouver-boundary' )

                function isSign( prop ) {
                    let r =
                        // prop.StructureType == "Advertisement Sign" ||
                        // prop.StructureType == "Scale Sign" ||
                        prop.StructureType == "Overhead Sign/signal" ||
                        prop.StructureType == "Sign"
                    return r
                }

                function hasPostedLimit( prop ) {
                    return prop.PostedLimitP || prop.PostedLimitO
                }

                prepareLayer( 'overhead-directional-signs', function ( ft ) {
                    return !hasPostedLimit( ft.properties ) && isSign( ft.properties )
                    // return "PostedLimitP" = false AND "PostedLimitO" = false and ("StructureType" = 'Sign' OR "StructureType" = 'Overhead Sign/signal')
                } )
                prepareLayer( 'overhead-structure-with-height-marker', function ( ft ) {
                    return hasPostedLimit( ft.properties ) && !isSign( ft.properties )
                    // ("PostedLimitP" = true OR "PostedLimitO" = true) AND ("StructureType" !='Overhead Sign/signal' AND "StructureType" != 'Sign')
                } )
                prepareLayer( 'overhead-structure-without-height-marker', function ( ft ) {
                    return !hasPostedLimit( ft.properties ) && !isSign( ft.properties )
                    // "PostedLimitP" = false AND "PostedLimitO" = false AND "StructureType" != 'Sign' AND "StructureType" != 'Overhead Sign/signal'
                } )
                prepareLayer( 'oversize-overweight-truck-routes-oah-up-to-4-88-m', function ( ft ) {
                    return ft.properties.HeightRestriction == "4.88"
                } )
                prepareLayer( 'oversize-overweight-truck-routes-oaw-up-to-5-m', function ( ft ) {
                    return ft.properties.WidthRestriction == "5.0"
                } )
                prepareLayer( 'oversize-overweight-truck-routes-gvw-up-to-80000-kg', function ( ft ) {
                    return ft.properties.WeightRestriction == "80000"
                } )
                prepareLayer( 'oversize-overweight-truck-routes-gvw-up-to-85000-kg', function ( ft ) {
                    return ft.properties.WeightRestriction == "85000"
                } )
                prepareLayer( 'oversize-overweight-truck-routes-gvw-up-to-125000-kg', function ( ft ) {
                    return ft.properties.WeightRestriction == "125000"
                } )
                prepareLayer( 'port-of-vancouver-facilities-terminals' )
                prepareLayer( 'provincial-highway', function ( ft ) {
                    return ft.properties.ProvincialJurisdiction == 1
                } )
                prepareLayer( 'provincial-highway-high-zoom', function ( ft ) {
                    return ft.properties.ProvincialJurisdiction == 1
                } )
                prepareLayer( 'truck-advisories-restrictions-high-zoom', function ( ft ) {
                    return ft.properties.RouteType != "Designated Municipal Truck Route with Restrictions" &&
                        ft.properties.AdvisoryType == "Restriction"
                } )
                prepareLayer( 'truck-advisories-restrictions', function ( ft ) {
                    return ft.properties.RouteType != "Designated Municipal Truck Route with Restrictions" &&
                        ft.properties.AdvisoryType == "Restriction"
                } )
                prepareLayer( 'truck-advisories-warning-high-zoom', function ( ft ) {
                    return ft.properties.RouteType != "Designated Municipal Truck Route with Restrictions" &&
                        ft.properties.AdvisoryType == "Truck Travel Warning"
                } )
                prepareLayer( 'truck-advisories-warning', function ( ft ) {
                    return ft.properties.RouteType != "Designated Municipal Truck Route with Restrictions" &&
                        ft.properties.AdvisoryType == "Truck Travel Warning"
                } )
                prepareLayer( 'truck-parking' )
                prepareLayer( "truck-routes-provincial-highway-high-zoom", function ( ft ) {
                    return ft.properties.ProvincialJurisdiction == 1
                } )
                prepareLayer( "truck-routes-provincial-highway", function ( ft ) {
                    return ft.properties.ProvincialJurisdiction == 1
                } )
                prepareLayer( "truck-routes-designated-municipal-truck-route", function ( ft ) {
                    return ft.properties.RouteType == "Designated Municipal Truck Route"
                } )
                prepareLayer( "truck-routes-designated-municipal-truck-route-high-zoom", function ( ft ) {
                    return ft.properties.RouteType == "Designated Municipal Truck Route"
                } )
                prepareLayer( "truck-routes-designated-municipal-truck-route-with-restrictions", function ( ft ) {
                    return ft.properties.RouteType == "Designated Municipal Truck Route with Restrictions"
                } )
                prepareLayer( "truck-routes-designated-municipal-truck-route-with-restrictions-high-zoom", function ( ft ) {
                    return ft.properties.RouteType == "Designated Municipal Truck Route with Restrictions"
                } )
                prepareLayer( "truck-routes-municipal-road-with-no-truck-travel-restriction", function ( ft ) {
                    return ft.properties.RouteType == "Municipal Road with No Truck Travel Restriction" &&
                        ft.properties.AdvisoryType == null
                } )
                prepareLayer( "truck-routes-municipal-road-with-no-truck-travel-restriction-high-zoom", function ( ft ) {
                    return ft.properties.RouteType == "Municipal Road with No Truck Travel Restriction" &&
                        ft.properties.AdvisoryType == null
                } )
                prepareLayer( "truck-routes-federal-road-with-no-truck-travel-restrictions", function ( ft ) {
                    return ft.properties.RouteType == "Federal Road with No Truck Travel Restrictions"
                } )
                prepareLayer( "truck-routes-federal-road-with-no-truck-travel-restrictions-high-zoom", function ( ft ) {
                    return ft.properties.RouteType == "Federal Road with No Truck Travel Restrictions"
                } )
                prepareLayer( 'temporary-road-closure' )
                prepareLayer( 'temporary-road-closure-extent' )

                // suppress double-tap to zoom
                $( '.no-zoom, .smk-overlay' ).bind( 'touchend', function( e ) {
                    e.preventDefault()

                    // console.log(e.target)
                    $( e.target ).click()
                } )

                $( 'body' ).addClass( 'device-' + SMK.MAP[ 2 ].$device )

                SMK.HANDLER.set( 'bespoke--feedback', 'initialized', function ( smk ) {} )

                SMK.HANDLER.set( 'bespoke--feedback', 'activated', function ( smk, tool, el ) {
                    include( [ { url: './fragments/feedback.html' }, { url: './fragments/feedback.css' } ], 'bespoke--feedback' ).then( function ( inc ) {
                        el.innerHTML = htmlTemplate( inc[ 'bespoke--feedback.feedback-html' ], {
                            package: package
                        } )
                    } )
                } )

                SMK.HANDLER.set( 'directions-route', 'print', function ( smk, tool, key, opt ) {
                    if ( opt.debug ) {
                        window.open( 'print-directions-portrait.html?' + key, '', [
                            "location=yes",
                            "menubar=yes",
                            "titlebar=yes",
                            "status=yes",
                            "toolbar=yes",
                            "scrollbars=yes",
                        ].join( ',' ) );
                    }
                    else {
                        document.getElementById( 'print-holder' ).src = 'print-directions-portrait.html?' + key
                    }

                    return new Promise( function ( res, rej ) {
                        var handler = function ( ev ) {
                            console.log( ev )
                            if ( ev.data == 'printed' ) {
                                res()
                                window.removeEventListener( 'message', handler )
                            }
                        }

                        window.addEventListener( 'message', handler, false )

                        setTimeout( function () { rej( new Error( 'timeout' ) ) }, 30 * 1000 )
                    } )
                } )

                SMK.HANDLER.set( 'directions-options', 'activated', function ( smk, tool, el ) {
                    Vue.nextTick( function () {
                        var vm = new Vue( {
                            template: '#truck-selection',
                            el: el,
                            data: {
                                vehicleTypes: JSON.parse( JSON.stringify( TRP.vehicleTypes ) ),
                                vehicleIndex: tool.trp && tool.trp.vehicleIndex,
                                configIndex: tool.trp && tool.trp.configIndex,
                            },
                            computed: {
                                vehicleStyle: function () {
                                    if ( this.vehicleIndex == null ) return
                                    return {
                                        'background-image': 'url( "' + this.vehicleTypes[ this.vehicleIndex ].image + '" )'
                                    }
                                }
                            },
                            methods: {
                                selectVehicle: function ( vehicleIndex ) {
                                    var self = this

                                    this.vehicleIndex = vehicleIndex

                                    Vue.nextTick( function () {
                                        var defaultIndex = self.vehicleTypes[ self.vehicleIndex ].configs.findIndex( function ( a ) {
                                            return a.default
                                        } )

                                        if ( defaultIndex == -1 ) return

                                        self.selectConfig( defaultIndex )
                                    } )
                                },

                                selectConfig: function ( configIndex ) {
                                    this.configIndex = configIndex

                                    var config = this.vehicleTypes[ this.vehicleIndex ].configs[ this.configIndex ]

                                    tool.truckHeight = config.height
                                    tool.truckWidth = config.width
                                    tool.truckLength = config.length
                                    tool.truckWeight = config.weight
                                    tool.oversize = config.oversize

                                    tool.trp = {
                                        vehicleIndex: this.vehicleIndex,
                                        configIndex: this.configIndex
                                    }

                                    Vue.nextTick( function () {
                                        smk.$tool[ 'directions' ].findRoute()
                                    } )
                                },
                            }
                        } )

                        if ( !tool.trp ) {
                            vm.selectVehicle( 0 )
                        }

                        smk.on( tool.id, {
                            'change': function ( ev ) {
                                var config = vm.$data.vehicleTypes[ vm.$data.vehicleIndex ].configs[ vm.$data.configIndex ]

                                tool.oversize = config.oversize
                                            || config.height < tool.truckHeight
                                            || config.width < tool.truckWidth
                                            || config.length < tool.truckLength
                                            || config.weight < tool.truckWeight

                                tool.trp = {
                                    vehicleIndex: vm.$data.vehicleIndex,
                                    configIndex: vm.$data.configIndex
                                }
                            }
                        } )
                    } )
                } )

                var routingReports
                SMK.HANDLER.set( 'directions', 'route', function ( smk, response ) {
                    smk.$tool[ 'bespoke--reports' ].status = 'hide'
                    routingReports = null

                    if ( response ) {
                        response.segments.features.forEach( function ( s ) {
                            if ( s.properties.isTruckRoute && !s.properties.isOversize && !s.properties.isFerry ) {
                                s.properties[ '@layer' ] = '@potential'
                            }
                            else {
                                s.properties[ '@layer' ] = '@unverified'
                            }
                        } )

                        TRP.makeReports( response ).then( function ( reports ) {
                            if ( !reports || reports.length == 0 ) return

                            smk.$tool[ 'bespoke--reports' ].status = 'ready'
                            response.reports = JSON.parse( JSON.stringify( reports ) )
                            routingReports = reports
                        } )
                    }
                } )

                SMK.HANDLER.set( 'bespoke--about', 'activated', function ( smk, tool, el ) {
                    include( [ { url: './fragments/about.html' }, { url: './fragments/about.css' } ], 'bespoke--about' ).then( function ( inc ) {
                        el.innerHTML = htmlTemplate( inc[ 'bespoke--about.about-html' ], {
                            package: package
                        } )
                    } )
                } )

                SMK.HANDLER.set( 'bespoke--glossary', 'activated', function ( smk, tool, el ) {
                    include( [ { url: './fragments/glossary.html' }, { url: './fragments/glossary.css' } ], 'bespoke--glossary' ).then( function ( inc ) {
                        el.innerHTML = inc[ 'bespoke--glossary.glossary-html' ]
                    } )
                } )

                SMK.HANDLER.set( 'bespoke--contacts', 'activated', function ( smk, tool, el ) {
                    include( [ { url: './fragments/contacts.html' }, { url: './fragments/contacts.css' } ], 'bespoke--contacts' ).then( function ( inc ) {
                        el.innerHTML = inc[ 'bespoke--contacts.contacts-html' ]
                    } )
                } )

                SMK.HANDLER.set( 'bespoke--reports', 'activated', function ( smk, tool, el ) {
                    // debugger
                    include( [ { url: './fragments/reports.html' }, { url: './fragments/reports.css' } ], 'bespoke--reports' ).then( function ( inc ) {
                        tool.component = {
                            template: inc[ 'bespoke--reports.reports-html' ],
                            data: function () {
                                return {
                                    reports: routingReports.map( function ( r ) {
                                        r.component.data = function () { return r.component.dataObj }
                                        return r
                                    } )
                                }
                            }
                        }
                    } )
                } )

                $( 'body' ).removeClass( 'hide' )
            } )

            function htmlTemplate( template, data ) {
                return ( new Vue( { template: '<div>' + template + '</div>', data: data } ) ).$mount().$el.innerHTML
            }

            function templateReplace( template, replacer ) {
                if ( !template ) return template
                if ( !replacer ) return template

                var patt = /"<@=\s*(.*?)\s*@>"/g

                var m = String( template ).match( patt );
                if ( !m ) return template;

                replacer = ( function ( inner ) {
                    return function ( templ, match ) {
                        var r = inner.apply( null, arguments )
                        return r == null ? match : r
                    }
                } )( replacer )

                return String( template ).replace( patt, function ( match, template ) {
                    return replacer( template, match )
                } )
            }

        } )()
        </script>
    </body>

</html>
