<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>BETA - TRP - Translink</title>

        <link rel="stylesheet" type="text/css" href="lib/dialog-polyfill/dialog-polyfill.css"/>
        <script src="lib/dialog-polyfill/dialog-polyfill.js"></script>

        <script src="lib/smk.js"></script>

        <style>
            body.hide {
                visibility: hidden;
            }
        </style>

        <link rel="stylesheet" type="text/css" href="article.css"/>       
        <link rel="stylesheet" type="text/css" href="splash-dialog.css"/>       
    </head>
    
    <body class="hide">
        <article>
            <dialog id="disclaimer">
                <form method="dialog">
                    <header>
                        <h1><span class="translink-logo"></span>Truck Route Planner</h1>
                    </header>

                    <section>
                        <p>
                            This website (the Truck Route Planner (TRP) Beta) and all of the information it contains are provided "as is" without warranty of any kind, whether express or implied. 
                            All implied warranties, including, without limitation, implied warranties of merchantability, fitness for a particular purpose, and non-infringement, are hereby expressly disclaimed.
                        </p>
                        <p>
                            Links and references to any other websites are provided for information only and listing shall not be taken as endorsement of any kind. 
                            TransLink is not responsible for the content or reliability of the linked websites and does not endorse the content, products, services or views expressed within them.
                        </p>
                        <p>
                            Under no circumstances will TransLink be liable to any person or business entity for any direct, indirect, special, incidental, consequential, or other damage based on any use of this website or any other website to which this site is linked, including, without limitation, any lost profits, business interruption, or loss of programs or information, even if TransLink has been specifically advised.
                        </p>
                        <img src="images/no_mobile_icon.svg" class="warningImage" alt="Graphic warning to discourage using mobile devices">
                        <p>
                            <em>This website is intended to be used as a pre-trip planner. Do not operate a vehicle while using this website.</em>
                        </p>
                        <p>
                            By proceeding, you are accepting this disclaimer, and you are indicating you understand the limitations of this website.
                        </p>
                    </section>

                    <menu>
                        <button type="submit" class="acceptButton">I accept the disclaimer and understand the limitations of this website</button>
                    </menu>
                </form>
            </dialog>

            <header>
                <h1><span class="translink-logo"></span>Truck Route Planner</h1>
                <h2>Beta
                    <span class="version">ver: 0.0.6</span>
                    <span class="date">built: 2020-01-09</span>
                </h2>
            </header>

            <div id="smk-map-frame"></div>
        </article>
       
        <iframe id="print-holder" style="position: absolute; left: 0; top: 0; visibility: hidden;"></iframe>

        <link rel="stylesheet" type="text/css" href="feedback-form.css"/>       
        <template id="feedback">
            <form class="feedback-form"
                method="post"
                enctype="text/plain"
                action="mailto:ipme@Translink.ca?subject=TRP Beta App Feedback"
            >
                <label>To submit feedback on this app please fill out our survey:
                    <a target="_blank" href="https://translink.checkbox.ca/CVRP-Feedback.aspx">TRP-Feedback</a>
                    Or use this form to email Translink:
                </label>

                <label class="name">Your name
                    <input name="name">
                </label>

                <label class="email">Your email address
                    <input name="email">
                </label>

                <label class="feedback">Your feedback on this app.
                    <textarea name="feedback" rows=10></textarea>
                </label>

                <div class="buttons">
                    <button type="submit">Send Feedback</button>
                    <button type="reset">Reset</button>
                </div>

            </form>
        </template>

        <style>
            .truck-options {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                flex-grow: 1;
            }

            .truck-options .truck-image {
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                height: 50px;
                margin-top: 10px;
                flex-basis: 100%;
            }

            .truck-options .smk-enter-input.truck-type {
                flex-grow: 1;
            }

            .truck-options .smk-enter-input.truck-axles {
                flex-basis: unset;
            }

            .truck-options .smk-enter-input .smk-input select {
                flex-grow: 1;
                border-radius: 6px;
            }

        </style>

        <template id="truck-selection">
            <div class="truck-options">
                <div class="truck-image" v-bind:style="vehicleStyle"></div>
                <div class="smk-enter-input truck-type">
                    <label id="truck-type">Vehicle Type
                        <div class="smk-input">
                            <select
                                v-on:change="selectVehicle( $event.target.value )"
                            >
                                <option
                                    v-for="vehicle, i in vehicleTypes"
                                    v-bind:value="i"
                                    v-bind:selected="vehicleIndex == i"
                                >{{ vehicle.title }}</option>
                            </select>
                        </div>
                    </label>
                </div>
                <div class="smk-enter-input truck-axles">
                    <label id="truck-axles">Axles
                        <div class="smk-input">
                            <select
                                v-if="vehicleIndex != null"
                                v-on:change="selectConfig( $event.target.value )"
                            >
                                <option
                                    v-for="config, i in vehicleTypes[ vehicleIndex ].configs"
                                    v-bind:value="i"
                                    v-bind:selected="configIndex == i"
                                >{{ config.axles }}</option>
                            </select>
                        </div>
                    </label>
                </div>
            </div>
        </template>

    </body>

    <script src="vehicle-types.js"></script>

    <script>
        var dialog = document.getElementById( 'disclaimer' )
        dialogPolyfill.registerDialog(dialog)
        dialog.showModal()

        SMK.INIT( {
            'smk-container-sel': "#smk-map-frame",
            'smk-config': [ './config/map.json','./config/layers.json', './config/layer-display.json', '?' ],
        } ).then( function () {
            $( 'body' ).addClass( 'device-' + SMK.MAP[ 1 ].$device )

            SMK.HANDLER.set( 'bespoke', 'initialized', function ( smk ) {} )

            SMK.HANDLER.set( 'bespoke', 'activated', function ( smk, tool, el ) {
                var fm = document.importNode( document.getElementById( 'feedback' ).content, true )
                $( fm ).find( 'form' )
                    .append( $( '<input type="hidden">' ).prop( 'name', 'version' ).val( '0.0.6' ) )
                    // .append( $( '<input type="hidden">' ).prop( 'name', 'lastCommit' ).val( SMK.BUILD.lastCommit ) )
                    // .append( $( '<input type="hidden">' ).prop( 'name', 'commit' ).val( SMK.BUILD.commit ) )
                    // .append( $( '<input type="hidden">' ).prop( 'name', 'branch' ).val( SMK.BUILD.branch ) )

                el.appendChild( fm )               
            } )

            SMK.HANDLER.set( 'directions-route', 'print', function ( smk, tool, key ) {
                document.getElementById( 'print-holder' ).src = 'print-directions-portrait.html?' + key

                return new Promise( function ( res, rej ) {
                    var handler = function ( ev ) {
                        console.log( ev )
                        if ( ev.data == 'printed' ) {
                            res()
                            window.removeEventListener( 'message', handler )
                        }
                    }

                    window.addEventListener( 'message', handler, false )

                    setTimeout( function () { rej( new Error( 'timeout' ) ) }, 30 * 1000 )
                } )
            } )

            var customVehicle = {
                id: 'custom',
                title: 'Custom',
                image: '',
                configs: []
            }

            SMK.HANDLER.set( 'directions-options', 'activated', function ( smk, tool, el ) {
                Vue.nextTick( function () {
                    var vm = new Vue( {
                        template: '#truck-selection',
                        el: el,
                        data: {
                            vehicleTypes: JSON.parse( JSON.stringify( window.vehicleTypes.concat( customVehicle ) ) ),
                            vehicleIndex: null,
                            configIndex: null,
                        },
                        computed: {
                            vehicleStyle: function () {
                                if ( this.vehicleIndex == null ) return
                                return { 
                                    'background-image': 'url( "' + this.vehicleTypes[ this.vehicleIndex ].image + '" )' 
                                }
                            }
                        },
                        methods: {               
                            selectVehicle: function ( vehicleIndex ) {
                                var self = this

                                this.vehicleIndex = vehicleIndex

                                Vue.nextTick( function () {
                                    var defaultIndex = self.vehicleTypes[ self.vehicleIndex ].configs.findIndex( function ( a ) {
                                        return a.default
                                    } )

                                    if ( defaultIndex == -1 ) return 

                                    self.selectConfig( defaultIndex )
                                } )
                            },

                            selectConfig: function ( configIndex ) {
                                this.configIndex = configIndex

                                setVehicleConfig( tool, this.vehicleTypes[ this.vehicleIndex ].configs[ this.configIndex ] )
                            },
                        }
                    } )

                    vm.selectVehicle( 0 )

                    var customVehicleIndex = vm.$data.vehicleTypes.length - 1

                    smk.on( tool.id, {
                        'change': function ( ev ) {
                            if ( vm.$data.vehicleIndex == customVehicleIndex ) return

                            var config = vm.$data.vehicleTypes[ vm.$data.vehicleIndex ].configs[ vm.$data.configIndex ]

                            if ( config.height == tool.truckHeight
                                && config.width == tool.truckWidth
                                && config.length == tool.truckLength
                                && config.weight == tool.truckWeight ) return

                            vm.selectVehicle( customVehicleIndex )
                        }
                    } )
                } )
            } )

            function setVehicleConfig( tool, config ) {
                tool.truckHeight = config.height
                tool.truckWidth = config.width
                tool.truckLength = config.length
                tool.truckWeight = config.weight
                // console.log( vehicle, axle )
            }

            SMK.HANDLER.set( 'directions', 'style-route', function ( segments ) {
                segments.forEach( function ( s ) {
                    s.style = { 
                        strokeColor:    '#FF0000',
                        strokeWidth:    7, 
                        strokeOpacity:  0.5,
                        strokeCap:      'butt'
                    }

                    if ( s.properties.isFerry ) {
                        s.style.strokeDashes = '10,10'
                    }
                    
                    if ( s.properties.isTruckRoute ) {
                        s.style.strokeColor = "#0000FF"
                    }
                } )
            } )

            $( 'body' ).removeClass( 'hide' )
        } )
    </script>


</html>
