<section class="trp-about">
    <p>
        The Commercial Vehicle Route Planner (CVRP) BETA is an interactive, easy to understand application providing users with a single source of regional goods movement trip-planning information. 
        TransLink developed the CVRP BETA in collaboration with our partners and stakeholders to improve wayfinding and trip planning tools for the goods movement sector in Metro Vancouver, which is an initiative identified in the 
        <a href="https://www.translink.ca/Plans-and-Projects/Roads-Bridges-and-Goods-Movement-Projects/Goods-Movement-Initiatives" target="_blank">Regional Goods Movement Strategy (RGMS)</a>.
    </p>
    <p>
        While our regional road network functions as one system, a gap identified in the RGMS is that there are few user-friendly and regularly updated regional wayfinding and trip planning tools to help heavy commercial vehicle drivers navigate the region. 
        TransLink committed to filling this gap by developing the CVRP BETA. We also provide a static 
        <a href="https://www.translink.ca/~/media/Documents/plans_and_projects/roads_bridges/Truck Route Reference Guide.pdf" target="_blank">Truck Route Reference Guide and Map (2.6 MB)</a>, 
        which pulls together basic information about the region’s truck route network. The CVRP BETA builds on this static guide in the form of a web-based map application with multiple layers, such as truck parking facilities, card locks, and height clearances. 
        It is intended to augment, rather than replace existing regional and municipal maps and trip planning tools.
    </p>
    <p>
        A key feature of the CVRP is a route query function which generates routes that comply with municipal truck route bylaws. 
        This feature allows heavy commercial vehicle drivers to plan compliant routes throughout the region quickly and easily. 
        Simply enter your vehicle dimensions, starting point and destination and you’ll instantly get a suitable route that factors in information such as height and weight restrictions.
    </p>
    <p>
        The CVRP BETA is a proof of concept with no warranties of accuracy (see <a href="#" class="showDisclaimerButton">user agreement/disclaimer</a>). 
        Releasing a beta version gives us the flexibility to get your ideas for improving the application and to work out any bugs and glitches based on your <a href="https://translink.checkbox.ca/CVRP-Feedback.aspx" target="_blank">feedback</a>.
    </p>
    <p>
        <em>
            This website is intended to be used as a pre-trip planner. 
            Do not operate a vehicle while using this website.
        </em>
    </p>
    <img src="images/no_mobile_icon.svg" alt="Graphic warning to discourage using mobile devices" style="max-width: 15rem; align-self: center;">
    </div>
</section>
