<section class="trp-about">
    <p>
        The Truck Route Planner (TRP) is intended to be an interactive, easy to understand trip-planning application for goods movement in Metro Vancouver. 
        It improves on existing regional way-finding and trip planning tools, which was identified as an implementation priority in the
        <a href="https://www.translink.ca/-/media/translink/documents/plans-and-projects/roads-bridges-and-goods-movement/rgms_moving_the_economy.pdf" target="_blank">Regional Goods Movement Strategy (RGMS)</a>.
    </p>
    <p>
        It is intended to augment, rather than replace existing regional and municipal truck route maps and trip planning tools and includes multiple layers, such as truck parking facilities, card locks, and height clearances.
    </p>
    <p>
        A key feature of the TRP is a route query function which generates potential routes that comply with municipal truck route bylaws. 
        This feature allows users to plan bylaw-compliant routes throughout the region quickly and easily. 
        Users simply enter vehicle dimensions, a starting point, and destination to generate a potential route that factors in information such as height and weight restrictions.
    </p>
    <p>
        The TRP was developed in partnership between TransLink and the Province with input from municipalities and industry.
    </p>
    <p>
        <em>
            This application is intended to be used as a pre-trip planner. 
            Do not operate a vehicle while using this application.
        </em>
    </p>
    <img src="images/no_mobile_icon.svg" alt="Graphic warning to discourage using mobile devices" style="max-width: 12rem; align-self: center;">
    <div class="version">Version {{ package.version }}, built {{ package[ 'build-date' ] }}</div>    
</section>


